<!-- Quantities -->

<div>Soldiers: {{ faction.soldiers }}</div>

<div>Population: {{ faction.population }}</div>

<div>Money: {{ faction.money }}</div>

<div>Food: {{ faction.food }}</div>

<div>Metals: {{ faction.metals }}</div>

<!-- Actions -->

<!-- Crow Letters -->
<div>Messages: <br>
    {% for letter in letters %}
        {{ letter.message }} <br>
    {% empty %}
        No Letters
    {% endfor %}
</div>

<div>Send Letter by Crow
    <form action="{% url 'send_crow_letter' %}" method="post">
        {% csrf_token %}
        <label for="recipient">Choose a recipient:</label>
        <select id="recipient"> <!-- TODO removed name="recipient", make sure that's ok -->
            {% for known_fact in known_factions %}
                <option value="{{ known_fact.ruler }}">{{ known_fact.ruler }} of {{ known_fact.name }}</option>
            {% empty %}
                <option value="none">No Known Factions</option>
            {% endfor %}
        </select>
        <br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="10" cols="30"></textarea>
        <input type="submit" value="Send">
    </form>
</div>

<!-- Scouting -->
<div>Scouting Reports: <!-- TODO display Reports --></div>

<div>Send Scout
    <form action="{% url '' %}" method="post">
        {% csrf_token %}
        <label for="direction">Choose a direction:</label>
        <select id="direction">
            <option value="N">North</option>
            <option value="NE">North East</option>
            <option value="E">East</option>
            <option value="SE">South East</option>
            <option value="S">South</option>
            <option value="SW">South West</option>
            <option value="W">West</option>
            <option value="NW">North West</option>
        </select>
        <br>
        <!-- TODO should this be a real time? So user specifies time scout comes back (could add randomness to when they actually arrive)-->
        <label for="travel_time">Total Travel Time (in hours)(includes there and back)</label>
        <input type="number" step="0.01" min="0" id="travel_time">
        <br>
        Warning: Scout will be chosen from your Soldier pool!
        <input type="submit" value="Send Scout">
    </form>
</div>

<div>War Status <!-- TODO display both sides soldier count and time until completion --></div>

<div>Initiate War <!-- TODO Form to attack faction --></div>

<div>Trade Caravans <!-- TODO display cargo and timing --></div>

<div>Initiate Trade <!-- TODO Form to send cargo and return with money from a faction or vice versa --></div>